<!doctype html>
<html class="no-js" lang="de">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.data.settings.basic_settings.site_title }} // {{ site.data.settings.basic_settings.site_tagline }}
	</title>

	<!-- Styles -->
	<link rel="stylesheet" href="{{ '/assets/styles/global/reset.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/global/variables.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/global/fonts.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/global/icons.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/global/base.css' | relative_url }}">

	<link rel="stylesheet" href="{{ '/assets/styles/composition.css' | relative_url }}">

	<link rel="stylesheet" href="{{ '/assets/styles/blocks/footer.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/blocks/header.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/blocks/herotext.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/blocks/smalltext.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/blocks/sidebar.css' | relative_url }}">

	<link rel="stylesheet" href="{{ '/assets/styles/components/details.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/components/tables.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/components/cards.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/components/tags.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/components/articles.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/styles/components/slideshow.css' | relative_url }}">

	<link rel="stylesheet" href="{{ '/assets/styles/utilities.css' | relative_url }}">

	{%
		assign layout-css = '/assets/styles/layouts/' | append: page.layout | append: '.css'	
	%}
	<link rel="stylesheet" href="{{ layout-css | relative_url }}">


	<!-- Page Info -->
	<link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image | relative_url }}">
	<meta charset="utf-8">
	<meta name="description" content="{{ site.data.settings.basic_settings.description | strip_html | xml_escape }}">

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{% if page.url == " /" %}{{ site.data.settings.basic_settings.site_title }} – {{
		page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
	<meta name="twitter:description"
		content="{{ site.data.settings.basic_settings.description | strip_html | xml_escape }}">
	<meta name="twitter:image:src" content="{{ site.data.settings.basic_settings.featured_image | absolute_url }}">

	<!-- Facebook OpenGraph -->
	<meta property="og:title" content="{% if page.url == " /" %}{{ site.data.settings.basic_settings.site_title }} – {{
		page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}" />
	<meta property="og:description"
		content="{{ site.data.settings.basic_settings.description | strip_html | xml_escape }}" />
	<meta property="og:image" content="{{ site.data.settings.basic_settings.featured_image | absolute_url }}" />
</head>

<body>

{% assign headerMode = "" %}
{% if layout.headerMode %}
{% assign headerMode = layout.headerMode %}
{% endif %}

<main>
	<div class="main-content-wrap">

	{% include header.html headerMode=headerMode %}
	{{content}}
	</div>
	<aside id="sidebar" class="sidebar" data-js-page-navigation></aside>
</main>

{% include footer.html %}
<script src="{{ '/assets/scripts/main.js' | relative_url }}"></script>
</body>

</html>