<div class="limited-box">
  <h2>Kurse und Projekte</h2>
  <p>Das Thema WebXR, oder genauer Augumented- und Virtual-Reality via WebBrowser, haben wir bislang in folgenden Kursen und Projekten innerhalb der Studiengänge <a href="https://www.medieninformatik.th-koeln.de/study/bachelor/">Medieninformatik Bachelor</a> und <a href="https://www.medieninformatik.th-koeln.de/study/master/">Medieninformatik Master</a> bespielt:</p>
</div>

<ul>
  <li>Wahlpflichtfach Digitale Kommunikation</li>
  <li><a href="https://th-koeln.github.io/mi-master-wtw/web-technologien/">Web Technologien</a></li>
  <li><a href="https://www.medieninformatik.th-koeln.de/study/bachelor/moduls/ba_praxisprojekt/">Praxisprojekt</a></li>
  <li><a href="https://www.medieninformatik.th-koeln.de/study/master/moduls/ma_modul_projekt_visionkonzept/">Projektarbeit - Vision und Konzept</a></li>
</ul>