/* Small Text
############################################################################ */

.smalltext {
  & > *:not(img) {
    max-width: var(--max-width-content);
    font-size: var(--xs);
    line-height: var(--lh-default);
  }
}
