---

layout: home
title: WebXR Learnings
tagline: Augumented- und Virtual-Reality via WebBrowser
class: grid
headerMode: is-grey

---

<div id="herotext" title="Intro" class="section herotext is-grey">
    {% capture content %}{% include intro.html %}{% endcapture %}
    {{ content | markdownify }}
</div>

<section id="ideas" title="Ideen, Learnings und mehr" class="articles">
    <h2>Ideen, Learnings und mehr</h2>
    {% capture content %}{% include articles.html %}{% endcapture %}
    {{ content }}
</section>

<section id="capabilities" title="WebXR/ AR.js Capabilities" class="is-screwed">
    <h2>WebXR/ AR.js Capabilities</h2>
    {% capture content %}{% include capabilities.html %}{% endcapture %}
    {{ content }}
</section>

<section id="faq" title="FAQ" class="faq is-screwed">
    <div class="herotext">
        <h2>FAQ</h2>
        <p>Ein paar Fragen tauchten immer wieder auf. Diese haben wir hier mal gesammelt und nach bestem Wissen und Gewissen beantwortet 😀.</p>
    </div>
    {% capture content %}{% include faq.html %}{% endcapture %}
    {{ content }}
</section>

<section id="resources" title="Ressourcen, Artikel und Demos" class="is-grey">
    <h2>Ressourcen, Artikel und Demos</h2>
    {% capture content %}{% include links.html %}{% endcapture %}
    {{ content }}
</section>

<section id="projects-and-courses" title="Projekt und Kurse" class="long-text is-dark">
    {% capture content %}{% include projects-and-courses.html %}{% endcapture %}
    {{ content | markdownify }}
</section>